button {
    padding: 0.5em 1em;
    margin: 1rem;
}

.submitted-desc {
    padding: 0.5em 1em;
    margin: 1rem;
}

.name-input {
    margin: 1rem;
}

.play-again {
    background-color: lightgoldenrodyellow;
    /* border: ; */
}