.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "timer score"
        "field-tile player-tile"
        "input input"
        "history history";
}

.desk {
    display: block;
}

.timer {
    justify-self: center;
    align-self: center;
    grid-area: timer;
}

.field-tile {
    justify-self: center;
    grid-area: field-tile;
}

.score {
    justify-self: center;
    align-self: center;
    grid-area: score;
}

.player-tile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        "tile-desc tile-desc"
        "top-left top-right"
        "bottom-left bottom-right";
    grid-area: player-tile;
}

.tile-desc {
    grid-area: tile-desc;
}

.top-right {
    grid-area: top-right;
}

.top-left {
    grid-area: top-left;
}

.bottom-left {
    grid-area: bottom-left;
}

.bottom-right {
    grid-area: bottom-right;
}

.history {
    grid-area: history;
}

.input {
    grid-area: input;
    display: block;
    margin:1rem;
}

.player-input {
    text-transform: capitalize;
}